.header{
    font-size: 32px;
    color: white;
    background-color: black;
    display: flex;
    padding: 20px;
    justify-content: space-between;
}
.posts span{
    margin-left: 30px;
}
.logIn span{
    margin-right: 20px;
}
.header span:hover{
    cursor: pointer;
}